
@mixin map_color($color, $new_name){
  @import url("@radix-ui/colors/#{$color}.css");
  @import url("@radix-ui/colors/#{$color}-dark.css");
  @import url("@radix-ui/colors/#{$color}-alpha.css");
  @import url("@radix-ui/colors/#{$color}-dark-alpha.css");

  :root {
    @for $i from 1 through 12 {
      --#{$new_name}-#{$i}:var(--#{$color}-#{$i});
      --#{$new_name}-a#{$i}:var(--#{$color}-a#{$i});
    }
  }
}


@include map_color("indigo", "main");
@include map_color("gray", "neutral");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');



*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--neutral-1);
  color: var(--neutral-12);
  font-family: 'Inter', sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#app {
  isolation: isolate;
}