@mixin import_color($color){
  @import url("@radix-ui/colors/#{$color}.css");
  @import url("@radix-ui/colors/#{$color}-dark.css");
  @import url("@radix-ui/colors/#{$color}-alpha.css");
  @import url("@radix-ui/colors/#{$color}-dark-alpha.css");
}

@mixin map_color($color, $new_name) {
  @include import_color($color);
  :root {
    @for $i from 1 through 12 {
      --#{$new_name}-#{$i}:var(--#{$color}-#{$i});
      --#{$new_name}-a#{$i}:var(--#{$color}-a#{$i});
    }
  }
}

@import url("@radix-ui/colors/white-alpha.css");
@import url("@radix-ui/colors/black-alpha.css");

@include import_color("orange");
@include import_color("green");
@include import_color("red");

@include map_color("indigo", "main");
@include map_color("gray", "neutral");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


:root {
  --font-1: "Inter";
  --font-mono: "JetBrains Mono";
  --font-2: "Inter";
  --height-2: 2.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--neutral-1);
  color: var(--neutral-12);
  font-family: 'Inter', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#app {
  isolation: isolate;
}

h1 {
  font-family: var(--font-1);
}

.hide-scrollbar{
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.skeleton {
  background-image: linear-gradient(90deg,
      var(--neutral-a4) 20%,
      var(--neutral-a2) 50%,
      var(--neutral-a4) 80%);
  background-size: 300% 100%;
  background-position-x: -20%;
  animation: 1s loading ease-in-out infinite;

  @keyframes loading {
    to {
      background-position-x: 120%;
    }
  }
}

.skeleton-button{
  background-color: var(--main-a3);
  border: 1px solid var(--main-7);
  color: var(--main-11);
  font-weight: bold;
  font-family: var(--font-1);
  font-size: 1.3rem;
  border-radius: 3px;
  i{
      display: inline-block;
      animation: rotate 1s linear infinite;
  }
  @keyframes rotate {
      to{
          transform: rotate(360deg);
      }
  }
}